.centralizarTexto
{
 text-align: center;
}

.ion-centralizar
{
  align-items: center;
  justify-content: center;
}

.noDecoration
{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.msg-erro
{
  font-size: small;
  color: red;
  text-align: center;
  margin-left: 20px;
}
