<ion-header>
  <ion-toolbar>
    <ion-img src="https://c.pxhere.com/photos/fe/a6/photo-1618584.jpg!d" alt="#"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-item color="warning">
        <ion-label class="centralizarTexto">Login</ion-label>
      </ion-item>
    <form [formGroup]="formLogin">
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input placeholder="abc@gmail.com" type="email" formControlNome="email"></ion-input>
      </ion-item>
    <ion-item counter="true" fill="clear">
      <ion-label position="floating">Senha</ion-label>
      <ion-input maxlength="15" [clearInput]="true" placeholder="Digite a sua senha" type="password" formControlName="Senha"></ion-input>
    </ion-item>
  </form>
  </ion-list>
  <ion-grid>
    <ion-row class="ion-centralizar">
      <ion-button fill="clear"><u>Entrar</u></ion-button>
    </ion-row>
    <ion-row class="ion-centralizar">
      <ion-label><a href="src\app\registro\registro.page.html" class="noDecoration">Não tem uma conta?</a></ion-label>
  </ion-row>
  </ion-grid>

</ion-content>
