<ion-header>
  <ion-toolbar>
    <ion-img src="https://c.pxhere.com/photos/fe/a6/photo-1618584.jpg!d" alt="#"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Registro</ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input placeholder="Seu Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email" placeholder="Exemplo@Gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>CPF</ion-label>
      <ion-input placeholder="123.456.789-01"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input placeholder="Digite a sua senha" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirmar Senha</ion-label>
      <ion-input placeholder="Repita sua senha" type="password"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
